@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-padding: 16px;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

a {
  @apply text-slate-900 underline-offset-2 hover:underline;
}
